{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
	Dashboard
{% endblock %}

{% block content %}
	<section class="featured-posts">
	<div class="section-title">
		<h2><span>Decks</span></h2>
	</div>
	{% if not is_created %}
		<p>No decks added</p>
	{% else %}
		<div class="card-columns listfeaturedtag">
			{% for deck in decks %}
				<div class="card">						
					<div class="col-md-7">
						<div class="card-block">
							<h2 class="card-title">{{ deck.deck_name }}</h2>
							<h4 class="card-text">Cards: {{ deck.card_count }}</h4>
							<a href="{% url 'deck_detail' slug=deck.deck_name.slug %}" class="btn btn-primary">Learn</a>
		      				<a href="{% url 'deck_delete' slug=deck.deck_name.slug %}" class="btn btn-primary">Delete</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}

{% endblock %}




<!-- <table class="table top-space">
		  	<tbody>
		  		{% for deck in decks %}
			    	<tr>
			      		<td>{{ forloop.counter }}</td>
			      		<td class = 'col-md-5'>{{ deck.name }}</td>
			      		<td class = 'col-md-2'><a href="{% url 'deck_detail' slug=deck.slug %}" class="btn btn-primary">Learn</a></td>
			      		<td><a href="{% url 'deck_delete' slug=deck.slug %}" class="btn btn-primary">Delete</a></td>
			    	</tr>
		    	{% endfor %}
	    	</tbody>
		</table> -->