{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
	Dashboard
{% endblock %}

{% block content %}
	<h3>Decks</h3>
	{% if not is_created %}
		<p>No decks added</p>
	{% else %}
		<table class="table top-space">
		  	<tbody>
		  		{% for deck in decks %}
			    	<tr>
			      		<td>{{ forloop.counter }}</td>
			      		<td class = 'col-md-5'>{{ deck.name }}</td>
			      		<td class = 'col-md-2'><a href="{% url 'deck_detail' slug=deck.slug %}" class="btn btn-primary">Learn</a></td>
			      		<td><a href="{% url 'deck_delete' slug=deck.slug %}" class="btn btn-primary">Delete</a></td>
			    	</tr>
		    	{% endfor %}
	    	</tbody>
		</table>
	{% endif %}

{% endblock %}