{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
	{{deck}}
{% endblock %}

{% block content %}
	{% if not cards_count %}
		<p>No cards added</p>
	{% else %}	
		{% for card in cards %}
			{% if forloop.counter == 1 %}
				<div class="cards card{{forloop.counter}}">
			{% else %}
				<div class="cards card{{forloop.counter}}" style="display: none">
			{% endif %}
			    	<div class="front">
			      		<p>{{card.front}}</p>
			    	</div>
			    	<hr class="back{{forloop.counter}}" style="display: none">
			    	<div class="back{{forloop.counter}}" style="display: none">
			      		<p>{{card.back}}</p>
			    	</div>
			    	<a class="show-btn learn-btn" onclick='buttonAction(1, {{forloop.counter}})'>Reveal</a>
			    	<div class='card_buttons' style="display: none">
			    		<a class="learn-btn" onclick='buttonAction(2, {{forloop.counter}})'>Again</a>
			    		<a class="learn-btn" onclick='buttonAction(3, 0)'>Easy</a>
					</div>
				</div>
		{% endfor %}

	{% endif %}	
{% endblock %}